.env
.env.*
.git
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
database/database.sqlite
php-ext
tests
.phpunit.result.cache
*.log
